.Post {
  margin-bottom: 30px;
}

.post-body {
  margin-left: var(--post-margin-left);
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
}
.post-footer {
  text-align: left;
  font-size: 10px;
  color: grey;
  margin: 0 0 0 var(--post-margin-left);
  padding: 0;
}
