.App {
  --post-margin-left: 20px;
  position: relative;
  background: linear-gradient(brown, #77AAFF);
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 30px;
  color: darkblue;
}

main {
  background-color: #77AAFF;
  padding: 10px 0 10px 0;
}
textarea{
  margin-left: var(--post-margin-left);
  display: block;
}
.post-submit {
  margin: 10px 0 10px var(--post-margin-left);
}

h2 {
  font-size: 14px;
  color: black;
}
