.App {
  position: relative;
  background-color: #77AAFF;
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 2em;
  color: darkblue;
}

main {
  background-color: #3661a5;
  padding: 10px 0 10px 0;
}
