@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  --post-margin-left: 20px;
  --body-margin-left: 130px;
  position: relative;
  /*background-color: #632727;*/
  padding: 10px;
  color: white;
  min-height: 800px;
  background: radial-gradient(#91706d, #632727);

}

.App-title {
  text-align: center;
  font-size: 30px;
  color: #a4cfdb;
  font-family: 'Lobster', cursive;
  margin-left: var(--body-margin-left);

}

main {
  background-color: #a4cfdb;
  padding: 10px 0 10px 0;
  margin-left: var(--body-margin-left);
}
textarea{
  margin-left: var(--post-margin-left);
  display: block;
}
.post-submit {
  margin: 10px 0 10px var(--post-margin-left);
}

#username-submit {
  margin-top: 5px;
}

h2 {
  font-size: 14px;
  color: #a4cfdb;
}

#username-group {
  position: fixed;
  top: 0;
  left: 20px;
}

#username-input {
  width: 100px;
  box-sizing: border-box;
}